body {
	background-color: lightblue;
	font-family: helvetica;
}


nav > ul {
	margin:20px;
	list-style-type: none;
	padding:0;
}

nav > ul > li {
	display: inline-block;
	width: 33%;
	margin: 0px;
	font-size: 20px

}

nav {
	border-bottom: 1px solid black;
	text-align: center;
}



.content {
	width: 75%;
	background-color: white;
	margin: 30px auto;
}

.title {
	color: darkblue;
	font-family: cursive;
	text-align: center;
	padding: 30px;
}

.entry-title {
	text-align: center;
}

#left, #right {
	display: inline-block;
	vertical-align: top;
}

#left {
	width: 70%
}


#right {
	width: 29%
}

.page-header {
	text-align: center;
}

.post-category {
	margin: 30px 50px;
	padding: 10px 30px;
	border-radius: 10%;
	background-color: rgb(71,103,155);
	color: white;
}


a {
	text-decoration: none;
}

.post-category-other {
	margin-bottom: 50px;
}
table {
	margin-left: 5%;
}
td, th {
	padding: 5px 10px;
}

th {
	text-align: right;
}
